<!DOCTYPE html>
</html>
<head>
    <meta charset="utf-8" />
    <title> The Dev Journey </title>
    <link rel="stylesheet" href="{{url_for('.static', filename='styles-the-dev-journey.css')}}">
</head>
<body>
    <div class="tidbit-tiles">
        <article class="tidbit-tile dark-background">
            <div class="tidbit-header">
                <div>
                    <img src="{{url_for('.static', filename='images/dictionary.png')}}" alt="dictionary">
                </div>
                <div class="tidbit-header-text">
                    <h1 class="title"> Using Dictionaries To Remove Need of Switch Statements </h1>
                    <!-- <p class="linebreak"></p> -->
                    <div class="subtitle">
                        <p>Example: teamCities = dict([</p>
                        <p>("Diamondbacks", "Arizona"),</p>
                        <p>("Braves", "Atlanta"),</p>
                        <p>("Orioles", "Baltimore"),</p>
                        <p>("Red Sox", "Boston"),</p>
                        <p>("Cubs", "Chicago"),</p>
                        <p>("White Sox", "Chicago")</p>
                        <p>])</p>
                    </div>
                </div>
            </div>
            <p>
                Inheritance Description 1 Inheritance Description 1 Inheritance Description 1 Inheritance Description 1Inheritance Description 1 Inheritance Description 1 Inheritance Description 1
            </p>
            <p>
                Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 
            </p>
        </article>
        <article class="tidbit-tile light-background">
            <div class="tidbit-header">
                <div>
                    <img src="{{url_for('.static', filename='images/inheritance.png')}}" alt="dictionary">
                </div>
                <div class="tidbit-header-text">
                    <h1 class="title"> Using Inheritance </h1>
                    <!-- <p class="linebreak"></p> -->
                    <div class="subtitle">
                        <p>Example: teamCities = dict([</p>
                        <p>("Diamondbacks", "Arizona"),</p>
                        <p>("Braves", "Atlanta"),</p>
                        <p>("Orioles", "Baltimore"),</p>
                        <p>("Red Sox", "Boston"),</p>
                        <p>("Cubs", "Chicago"),</p>
                        <p>("White Sox", "Chicago")</p>
                        <p>])</p>
                    </div>
                </div>
            </div>
            <p>
                Inheritance Description 1 Inheritance Description 1 Inheritance Description 1 Inheritance Description 1Inheritance Description 1 Inheritance Description 1 Inheritance Description 1
            </p>
            <p>
                Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 
            </p>
        </article>


        <article class="tidbit-tile dark-background">
            <div class="tidbit-header">
                <div>
                    <img src="{{url_for('.static', filename='images/inheritance.png')}}" alt="inheritance">
                </div>
                <div class="tidbit-header-text">
                    <h1 class="title"> Using Inheritance </h1>
                    <!-- <p class="linebreak"></p> -->
                    <div class="subtitle">
                        <p>Example: teamCities = dict([</p>
                        <p>("Diamondbacks", "Arizona"),</p>
                        <p>("Braves", "Atlanta"),</p>
                        <p>("Orioles", "Baltimore"),</p>
                        <p>("Red Sox", "Boston"),</p>
                        <p>("Cubs", "Chicago"),</p>
                        <p>("White Sox", "Chicago")</p>
                        <p>])</p>
                    </div>
                </div>
            </div>
            <p>
                Inheritance Description 1 Inheritance Description 1 Inheritance Description 1 Inheritance Description 1Inheritance Description 1 Inheritance Description 1 Inheritance Description 1
            </p>
            <p>
                Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 
            </p>
        </article>
        <article class="tidbit-tile light-background">
            <div class="tidbit-header">
                <div>
                    <img src="{{url_for('.static', filename='images/inheritance.png')}}" alt="inheritance">
                </div>
                <div class="tidbit-header-text">
                    <h1 class="title"> Using Inheritance </h1>
                    <!-- <p class="linebreak"></p> -->
                    <div class="subtitle">
                        <p>Example: teamCities = dict([</p>
                    </div>
                </div>
            </div>
            <p>
                Inheritance Description 1 Inheritance Description 1 
            </p>
            <p>
                Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 
            </p>
        </article>
    </div>
</body>
</html>