<!DOCTYPE html>
</html>
<head>
    <meta charset="utf-8" />
    <title> The Dev Journey </title>
    <link rel="stylesheet" href="{{url_for('.static', filename='styles-the-dev-journey.css')}}">
</head>
<body>
    <h1 class="title"> Learning Outcomes I Encountered During the Development of this Project </h1>
    <div class="tidbit-tiles">
        <article class="tidbit-tile dark-background">
            <div class="tidbit-header">
                <div>
                    <img src="{{url_for('.static', filename='images/dictionary.png')}}" alt="dictionary">
                </div>
                <div class="tidbit-header-text">
                    <h1 class="title"> Using Dictionaries To Remove Need of Switch Statements </h1>
                    <!-- <p class="linebreak"></p> -->
                    <div class="subtitle">
                        <p>Example: teamCities = dict([</p>
                        <p>("Diamondbacks", "Arizona"),</p>
                        <p>("Braves", "Atlanta"),</p>
                        <p>("Orioles", "Baltimore"),</p>
                        <p>("Red Sox", "Boston"),</p>
                        <p>("Cubs", "Chicago"),</p>
                        <p>("White Sox", "Chicago")</p>
                        <p>])</p>
                    </div>
                </div>
            </div>
            <p>
                Inheritance Description 1 Inheritance Description 1 Inheritance Description 1 Inheritance Description 1Inheritance Description 1 Inheritance Description 1 Inheritance Description 1
            </p>
            <p>
                Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 
            </p>
        </article>
        <article class="tidbit-tile light-background">
            <div class="tidbit-header">
                <div>
                    <img src="{{url_for('.static', filename='images/inheritance.png')}}" alt="dictionary">
                </div>
                <div class="tidbit-header-text">
                    <h1 class="title"> Using Inheritance for an IS-A Relationship</h1>
                    <!-- <p class="linebreak"></p> -->
                    <div class="subtitle">
                        <p>Benefits:</p>
                        <p>DRY Principle,</p>
                        <p>Code Reuse,</p>
                        <p>Methods can call method with a name that's common in 2 or more classes and the behavior changes based on the type of object the method is called on,</p>
                        <p>Developers creating a statsScraper for a new type of sport have a base to work from,</p>
                        <p>Code flexibility as developers will know that as long as object's type is subclass of parent class, it will be a valid input in all methods that use objects of the parent class</p>
                    </div>
                </div>
            </div>
            <p>
                A parent class StatsScraper was created that requires in it's constructor all subclasses to supply common info between sports (team cities, url of the stats website etc.). The child classes' constructors then make use of this parent constructor. Where baseball and basketball differ however is in the type of stats used (homeruns is not a stat in basketball for example). Thus, the parent class leaves it up to the child classes to implement the methods to scrape those stats.
            </p>
            <p>
                Note: the abc (Abstract Base Classes) python module was used in order to prevent the possibility of an instance of the parent class StatsScraper from being created as there should only be instances of the more specific subclasses being BaseballStatsScraper and BasketballStatsScraper  
            </p>
        </article>


        <article class="tidbit-tile dark-background">
            <div class="tidbit-header">
                <div>
                    <img src="{{url_for('.static', filename='images/inheritance.png')}}" alt="inheritance">
                </div>
                <div class="tidbit-header-text">
                    <h1 class="title"> Using Inheritance </h1>
                    <!-- <p class="linebreak"></p> -->
                    <div class="subtitle">
                        <p>Example: teamCities = dict([</p>
                        <p>("Diamondbacks", "Arizona"),</p>
                        <p>("Braves", "Atlanta"),</p>
                        <p>("Orioles", "Baltimore"),</p>
                        <p>("Red Sox", "Boston"),</p>
                        <p>("Cubs", "Chicago"),</p>
                        <p>("White Sox", "Chicago")</p>
                        <p>])</p>
                    </div>
                </div>
            </div>
            <p>
                Inheritance Description 1 Inheritance Description 1 Inheritance Description 1 Inheritance Description 1Inheritance Description 1 Inheritance Description 1 Inheritance Description 1
            </p>
            <p>
                Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 Inheritance Description 2 
            </p>
        </article>
        <article class="tidbit-tile light-background">
            <div class="tidbit-header">
                <div>
                    <img src="{{url_for('.static', filename='images/inheritance.png')}}" alt="inheritance">
                </div>
                <div class="tidbit-header-text">
                    <h1 class="title"> Using Encapsulation To Hide Implementation Details from Calling Code/Client</h1>
                    <!-- <p class="linebreak"></p> -->
                    <div class="subtitle">
                        <p>Examples in the code: getTeamBatterStats() in stats_scraper.py</p>
                    </div>
                </div>
            </div>
            <p>
                When I know a client/developer wants to for instance, grab the data from a certain table, but we need the table ID in order to do so, and you don't want the client to have to know/supply this table ID (which could change in the future anyway), I made a wrapper function that supplies that table ID and requires no arguments.
            </p>
            <p>
                Python does not inherently support Making certain methods private but I used method names with a leading underscore to mark methods that should not be called outside of this class
            </p>
        </article>
    </div>
    <h3>  </h3>
    
    <ul> Other Learning Outcomes of Note 
        <li>Using Dictionaries to Remove the Need for Switch Statments </li>
        <li>Documented some of the python files with Docstrings </li>
        <li>Using parameter objects (wrapper objects) in place of long lists of arguments in methods </li>
        <li>Using Docstring or python type hints when it is ambiguous as to what the type of an argument is </li>
        <li>Use of css grid to create the layout of the mosaic tiles you see on this page, but used css flexbox to have text within the mosaic tiles stretch to fit the allocated area </li>
    </ul>
</body>
</html>