<!DOCTYPE html>
</html>
<head>
    <meta charset="utf-8" />
    <title> Sports Stats Vis </title>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="static/visualizations.js"></script>
    <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='styles-visualizations.css')}}">
</head>
<body>
    <div class ="main">
        <nav class="subtopnav">
            <div class="visualizations-dropdown dropdown">
                <a href="../visualizations" class="subtopnav-dropdown-btn subtopnav-item"> Visualizations </a>
                <div class="subtopnav-dropdown-items">
                    <a class="subtopnav-dropdown-item"> AVG </a>
                </div>
            </div>
            <a href="../the-dev-journey" class="subtopnav-item"> The Dev Journey </a>
        </nav> 
        <div class="sidebar"> 
            <ul>
            <li class="sidebar-title"> Sidebar title </li>
            <li class="sidebar-item"> list </li>
            <li class="sidebar-item"> list </li>
            <li class="sidebar-item"> list </li>
            <li class="sidebar-item"> list </li>
            <li class="sidebar-item"> list </li>
            </ul>
        </div>
        <div class="main-portion-page">
            <h1> Title </h1>
            <embed id="stats-vis" type="text/html" src="" width="800" height="600" title="statistics graph"> <!-- src attribute will be set dynamically in javascript file -->
        </div>
    </div>
    
</body>
</html>